<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Tyrekickr | Photos</title>
  <style>
  .item img { border:0; padding: 0 0 10px 0; margin: 0; display: block; }
  .item { border:0; padding: 0; margin: 0; display: block; }
 /* Infinite Scroll loader */
  #infscr-loading {
    text-align: center;
    z-index: 100;
    position: fixed;
    left: 45%;
    bottom: 40px;
    width: 200px;
    padding: 10px;
    background: #000;
    opacity: 0.8;
    color: #FFF;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
  }
  </style>
</head>
  <body>
    <header>
      <h1>Tyrekickr. <small>having a look at the Singly API</small></h1>
      <p>You can <a href="/">go back home</a>. Or would you rather <a href="/logout">logout</a>?</p>
      <p>Showing <em><%=whose%></em> photos from: <%-grammaticalJoin(activeServices.map(getDisplayName))%>.</p>
    </header>
    <section id="container"><% items.forEach(function(item) { %>
      <div class="item"><a href="<%=getPermalink(item)%>" target="_blank"><img data-at="<%=item.at%>" title="from <%=getAuthor(item)%> on <%=getService(item)%> <%=getRelativeTime(item.at)%>" src="<%=item.oembed.url%>" width="300" height="<%=300*item.oembed.height/item.oembed.width%>"></a></div>
    <% }); %></section>
    <nav id="page-nav">
      <% if (page > 1) { %><a id="prev" href="<%=currentHref+'?page='+(page-1)%>">Prev Page</a> | <% } %>
      <% if (items.length > 0) { %><a id="next" href="<%=currentHref+'?page='+(page+1)%>">Next Page</a><% } %>
    </nav>
    <footer>
      <p>Page layout powered by the marvellous <a href="http://masonry.desandro.com/">jQuery Masonry</a> and <a href="http://www.infinite-scroll.com/">Infinite Scroll</a>.</p>
    </footer>
    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="/js/jquery.masonry.min.js"></script>
    <script src="/js/jquery.infinitescroll.min.js"></script>
    <script>
      $(function(){

        var $container = $('#container');

        $container.imagesLoaded(function(){
          $container.masonry({
            itemSelector: 'div.item',
            columnWidth: 310
          });
        });

        $container.infinitescroll({
            navSelector  : '#page-nav',    // selector for the paged navigation
            nextSelector : '#next',        // selector for the NEXT link (to page 2)
            itemSelector : 'div.item',     // selector for all items you'll retrieve
            debug: false,
            loading: {
              finishedMsg: "That's it!",
              img: '/img/spinner.gif',
              msgText: "Loading more images..."
            },
          },
          // trigger Masonry as a callback
          function( newElements ) {
            // hide new items while they are loading
            var $newElems = $( newElements ).css({ opacity: 0 });
            // ensure that images load before adding to masonry layout
            $newElems.imagesLoaded(function(){
              // show elems now they're ready
              $newElems.animate({ opacity: 1 });
              $container.masonry( 'appended', $newElems, true );
            });
          }
        );

      });
    </script>
  </body>
</html>
