<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Tyrekickr</title>
</head>
  <body>
    <h1>Tyrekickr. <small>having a look at the Singly API</small></h1>
    <p>You can <a href="/">go back home</a>. Or would you rather <a href="/logout">logout</a>?</p>
    <p>Showing <em><%=whose%></em> photos from: <%=activeServices.join(', ') %>.</p>
    <div id="container">
    <% data.forEach(function(item) { %>
      <img class="item" src="<%=item.oembed.url%>" width="<%=item.oembed.width%>" height="<%=item.oembed.height%>">
    <% }); %></ul>
    </div>
  </body>
</html>
